body {
    /*background-color: #373a3c;*/
}

.navbar .nav-right {
    float: right !important;
    padding: 0 15px;
}

.navbar .nav .nav-item a.active {
    background-color: #9d9d9d !important;
    color: #fff;
}

.navbar .nav .nav-item a:not(.active) {
    color: #9d9d9d;
}

.navbar .nav .nav-item a:hover {
    color: #fff;
    background-color: #222;
}

.navbar .nav .nav-item.open a.nav-link {
    color: #fff;
    background-color: #222;
}

#wrapper {
    padding-top: 56px;
}

#sidebar {
    position: fixed;
    bottom: 0;
    top: 56px;
    width: 12%;
    float: left;
    background-color: #373a3c;
}

#sidebar .nav>li:first-child {
    border-top: 2px solid #222;
}

#sidebar .nav li a {
    display: block;
    padding: 10px 15px;
    color: #9d9d9d;
}

#sidebar .nav li:hover {
    background-color: #222;
}

#sidebar .nav li:hover a {
    color: #fff;
    text-decoration: none;
}

#sidebar .nav li.active {
    background-color: #222;
}

#sidebar .nav li.active a {
    color: #fff;
    text-decoration: none;
}

#content {
    width: 88%;
    margin-left: 12%;
    background-color: #fff;
    padding-left: 15px;
}

#content .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

#content .bot-name {
    margin: 40px 0 10px;
}

#commands-generator td:first-child, #commands-generator td:nth-child(3), #commands-generator td:nth-child(4) {
    max-width: 300px;
}

.command-title {
    padding-bottom: 10px;
}

.command-code {
    padding-bottom: 15px;
}

#commands-table tbody td:first-child {
    width: 250px;
}

#commands-table tbody td:last-child {
    width: 150px;
}

.blank {
    padding-bottom: 30px;
}

.navbar.navbar-bottom a.navbar-brand {
    color: #373a3c;
    border-top: 2px solid black;
    margin-left: -20px;
    margin-top: -9px;
    margin-bottom: 9px;
}

.navbar.navbar-bottom a.navbar-brand:hover {
    color: #373a3c;
    cursor: default;
}

.navbar.navbar-bottom p {
    color: #9d9d9d;
    padding-top: 10px;
    margin-bottom: -10px;
}

.navbar.navbar-footer {
    border-top: 2px solid #000;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.fix-lineheight {
    line-height: 40px;
}

.alert-span {
    position: absolute;
    right: 60px;
    font-weight: 600;
}

.no-padding-right {
    padding-right: 0;
}

.fa.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/******************************************
        BLOG
******************************************/

.post-title {
    margin-bottom: 15px;
}

.post-content {
    background-color: #F0EDF1;
    border-radius: 3px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    position: relative;
}

.post-content:nth-child(even) {
    background-color: rgba(240, 237, 241, 0.4);
}

.post-content .divider {
    position: absolute;
    height: 80%;
    top: 10%;
    border-left: 1px solid lightgray;
    margin-left: 17%;
}

.post-main-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.post-details {
    padding: 10px;
    display: inline-block;
}

.post-message {
    padding: 10px 15px;
    display: inline-block;
}

.post-stats {
    background-color: #f9f9f9;
    padding: 5px 20px;
    border: 1px solid lightgray;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.post-stats-unit {
    display: inline-block;
    margin-right: 15px;
}

.post-stats-number, .post-stats-description {
    text-align: center;
}

.post-toolbar {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #f8f8f8;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.post-toolbar .toolbar-unit {
    display: inline-block;
    padding: 5px 10px;
}

.post-toolbar .toolbar-unit:hover {
    background-color: #ddd;
    cursor: pointer;
}

.post-message-container:hover .post-toolbar {
    display: block;
}

.reply-operation {
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 350px;
    z-index: 999;
    display: none;
    padding-top: 15px;
}

.reply-operation p.lead {
    display: inline-block;
}

.reply-operation i.fa-close {
    padding: 5px;
    background-color: #e8e8e8;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.reply-operation i.fa-close:hover {
    cursor: pointer;
    background-color: #ddd;
}


/******************************************
        PATCH NOTES
******************************************/

.card .card-header .toolbar-controls {
    position: absolute;
    background-color: #ddd;
    border: 1px solid lightgray;
    border-radius: 3px;
    top: 6px;
    right: 10px;
}

.card .card-header .toolbar-controls div {
    padding: 5px 10px;
    display: inline-block;
}

.card .card-header .toolbar-controls div:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}